<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="loyout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m: ${messages}" th:attr="data-author=${m.author.username}">
                <td th:text="${m.author.username}"></td>
                <td th:text="${m.createDate}"></td>
                <td th:text="${m.text}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>