<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="loyout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <link th:href="@{/css/frameworks/animatedLoader.css}" rel="stylesheet" media="screen"></link>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-12">
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Создание заказа</h4>
                            </div>
                            <div class="modal-body">
                                <div th:fragment="content">
                                    <form id="order-form" role="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="subject" class="control-label">Тема</label>
                                                <input type="text" class="form-control" name="inputSubject"
                                                       id="subject"
                                                       placeholder="Введите Название темы" required="required"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="control-label">Описание</label>
                                                <input type="text" class="form-control" name="inputDescription" id="description"
                                                       placeholder="Дайте описание нужного материала"
                                                       required="required"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="cost" class="control-label">Стоимость</label>
                                                <input type="text" name="inputCost" id="cost"
                                                       placeholder="Введите цену за предоставление услуги"
                                                       class="form-control"
                                                       required="required"/>
                                            </div>
                                            <br/>
                                            <div class="form-action">
                                                <button type="submit" class="btn btn-primary">Закрепить заказ
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    $(document).ready(function () {
                        $("#order").click(function () {
                            $("#myModal").modal('show');

                        });
                    });
                </script>

                <div th:fragment="content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            Предмет
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Здесь вы можете выбрать дисциплину</th>
                        </tr>
                        <tr th:each="o: ${orders}">
                            <td>
                                <div class="panel panel-primary" >
                                    <div class="panel-heading" >
                                        <h3 class="panel-title">
                                            <p><a th:href="@{order(id=${o.id})}" th:text="${o.name}"></a></p>
                                        </h3>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="homeExample">
                                <div id="course_wrapper">
                                </div>
                    </div>
                    <div class="tab-pane fade" id="questionsExample">
                        <div id="model_wrapper">
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    $(document).ready(function () {
                        $("#myTabExample a").click(function (e) {
                            e.preventDefault();
                            $(this).tab('show');
                        });
                    });
                </script>
            </div>

        </div>
    </div>
    <!-- СКРИПТЫ -->
    <script th:src="@{/js/frameworks/plugins/bootstrap-form-validator.js}"></script>

    <script th:src="@{/js/orderUser.js}"></script>
</div>
</body>
</html>