<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/frameworks/bootstrap.min.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u: ${users}" th:attr="data-username=${u.username},data-email=${u.email}">
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td><div class="btn btn-primary myCustomClass">UPDATE</div></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script th:src="@{/js/frameworks/jquery-3.1.1.min.js}"></script>

<script th:src="@{/js/updateUser.js}"></script>

<script th:src="@{/js/frameworks/bootstrap.min.js}"></script>

</html>